
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div2 {
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: #d99058;
    background-image: linear-gradient(315deg, #d99058 0%, #f8de7e 74%);
    z-index: -1;
    transition: 1s;
  }
  
  .div1 {
    width: 160px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    background-color: #63a4ff;
  }
  
  .blind {
    position: absolute;
    width: 160px;
    height: 0px;
  }
  
  .div1:hover .div2 {
    filter: contrast(200%) brightness(50%);
  }