.rotate {
    margin: auto;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    background-color: rgb(80, 255, 246);
    color: black;
    animation: mymove 4s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
  }
  .circle{
    animation: mymove1 4s;
    text-align: center;
    width: 500px;
    height: 500px;
    position: relative;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;  
  }
.rotate:hover{
    background-color: yellow;
}  

@keyframes mymove1 {
  0%   { left:0px; top:0px;}
  25%  { left:200px; top:0px;}
  50%  { left:200px; top:200px;}
  75%  { left:0px; top:200px;}
  100% { left:0px; top:0px;}
}
  @keyframes mymove {
    100% {transform: rotate(360deg);}
}