.area-one {
    width: 40%;
    float: left;
    height: 100%;
  }
  .area-one > h2{
        background: rgb(247, 88, 88);
        height: 70px;
        text-align: center;
        padding: 15px;
        color: white;
        margin: 0;
  }
  .area-two{
    width: calc(60% - 40px);
    float: right;
    height: 100%;
  }
  .area-two > h2{
    background: rgba(86, 212, 103, 0.37);
    height: 70px;
    text-align: center;
    padding: 15px;
    color: rgb(5, 5, 5);
    margin: 0;
}
  .content {
    padding: 15px;
    height: calc(100% - 70px);
    overflow: auto;
    background: rgb(51, 37, 37);
    color: white;
  }
  .content > p{
        margin: 0 0 1em 0;
  }
  body {
    padding: 20px;
    height: 100%;
    background: white;  
  }
  * {
    box-sizing: border-box;
  }