
.id{
    justify-content: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.id1 , .id2 , .id3 {
    width: 50px;
    height: 50px;
    color: cornflowerblue;
    text-align: center;
    border: 5px solid black;
    padding: 2px;
}

@media(max-width:480px)
{
    .id{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 30%;
        height: auto;
    }
}