.flex-container > div {
    
    line-height: 75px;
    font-size: 30px;
  }
.flex-container, .id, .id1, .id1-1, .id1-2, .id2, .id2-1,
.id2-2, .id2-3, .id2-4, .id3, .id3-1, .id3-2, .id3-3{
    display: flex;
}
.flex-container,.id,.id1-1,.id1-2,.id2-1,.id2-2,.id2-3,
.id2-4, .id3-1, .id3-2, .id3-3{
    justify-content: center;
}  
.flex-container {
    width: 350px;
    flex-flow: column wrap;
    flex-wrap: wrap;
    margin:auto;
}
.id{
    background-color: #d2dada;
    margin: 1px;
    padding: 5px;
}
.id1, .id2, .id3{
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
}
.id1-1, .id1-2, .id2-1, .id2-2, .id2-3,
.id2-4, .id3-1, .id3-2, .id3-3{
    align-items: center;
    height: 40px;
    background-color: rgb(107, 107, 155);
    color: white;
}
.id1{
    justify-content: space-evenly;
    background-color: rgb(255, 153, 0);
}
.id1-1, .id1-2{
    margin-top: 10px;
    border-radius: 15px;
}
.id1-1{
    width: 200px;
}
.id1-2{
    width: 100px;
}
.id2{
    justify-content: space-between;
    align-content: space-between;
    background-color: blue;
    
}
.id2-1, .id2-2, .id2-3, .id2-4{
    margin: 10px;
    width: 100px;
}
.id3{
    justify-content: space-around;
    align-content: center;
    background-color: brown;
}
.id3-1, .id3-2, .id3-3{
    margin: 10px;
    width: 80px;
}