.flex-container , .id , .id1 , .in_id1 ,
.child1 , .in_id1-1 , .child2 , .id2 , .in_id2 ,
.child3 , .in_id2-1 , .child4{
    display: flex;
    justify-content: center;
}
.child1, .child2, .child3, .child4{
    width: 100px;
    background-color: blue;
    color: white;
}
.flex-container {
    width:400px;
    flex-flow: column wrap;
    margin:auto;
    background-color: black;
}
.id{
    background-color: #feffff;
    margin: 1px;
    padding: 5px;
}
.id1, .id2{
    flex-direction: row;
    height: 339px;
}
.in_id1, .in_id1-1, .in_id2, .in_id2-1{
    width: 200px;
}
.in_id1, .child1, .in_id1-1, .child2, 
.in_id2, .in_id2-1{
    align-items: center;
}
.in_id1{
    background-color: rgb(108, 209, 235);
}
.in_id1-1, .in_id2{
    background-color: #c6f754;
}
.child2{
    padding: 110px 20px;
}
.child3{
    align-self: flex-end;
}
.in_id2-1{
    flex-flow: column wrap;
    background-color: #191a17;
}
.flex-container > div {  
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}