.flex-container > div {
    line-height: 75px;
    font-size: 30px;
  }
.flex-container, .id, .id1, .id1-1, .id1-2, .id2, .id2-1,
.id2-2, .id2-3, .id2-4, .id3, .id3-1, .id3-2, .id3-3{
    display: flex;
}  
.flex-container,.id,.id1-1,.id1-2,.id2-1,.id2-2,.id2-3,
.id2-4, .id3-1, .id3-2, .id3-3{
    justify-content: center;
}  
.flex-container {
    width: 350px;
    flex-flow: column wrap;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
}
.id{
    justify-content: center;
    background-color: #d2dada;
    margin: 1px;
    padding: 5px;
}
.id1, .id2, .id3{
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
}
.id1-1, .id1-2, .id2-1, .id2-2, .id2-3,
.id2-4, .id3-1, .id3-2, .id3-3{
    align-items: center;
    height: 40px;
    background-color: rgb(107, 107, 155);
    color: white;
}
.id1{
    justify-content: space-evenly;
    background-color: rgb(255, 153, 0);
}
.id1-1, .id1-2{
    margin-top: 10px;
    border-radius: 15px;
}
.id1-1{
    width: 200px;
}
.id1-2{
    width: 100px;
}
.id2{
    justify-content: space-between;
    align-content: space-between;
    background-color: blue;
}
.id2-1, .id2-2, .id2-3, .id2-4{
    margin: 10px;
    width: 100px;
}
.id3{
    justify-content: space-around;
    align-content: center;
    background-color: brown;
}
.id3-1, .id3-2, .id3-3{
    margin: 10px;
    width: 80px;
}

@media (max-width: 1024px){
    .flex-container{
        width: 250px;
    }
    .flex-container > div {
        line-height: 55px;
        font-size: 20px;
      }
    .id1, .id2, .id3{
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        height: 250px;
      }
    .id1{
        justify-content: space-evenly;
        background-color: darkturquoise;
    }
    .id1-1, .id1-2{
        margin-top: 10px;
        height: 60px;
        border-radius: 10px;
    }
    .id1-1{
        width: 100px;
    }
    .id1-2{
        width: 60px;
    }
    .id2{
        justify-content: center;
    }
    .id2-1, .id2-2, .id2-3, .id2-4{
        margin: 10px;
        width: 50px;
        height: 40px;
    }
    .id3{
        justify-content: space-around;
    }
    .id3-1, .id3-2, .id3-3{
        margin: 10px;
        width: 35px;
        height: 30px;
        padding: 10px 0px;
    } 
}
@media (max-width: 768px){
    .flex-container{
        width: 200px;
    }
    .flex-container > div {
        line-height: 55px;
        font-size: 20px;
    }
    .id1, .id2, .id3{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        height: 250px;
    }
    .id1{
        justify-content: space-evenly;
        background-color: green;
    }
    .id1-1, .id1-2{
        margin-top: 10px;
        height: 60px;
        border-radius: 15px;
    }
    .id1-1{
        width: 100px;
    }
    .id1-2{
        width: 60px;
    }
    .id2{
        justify-content: center;
    }
    .id2-1, .id2-2, .id2-3, .id2-4{
        margin: 10px;
        width: 50px;
        height: 40px;
    }
    .id3{
        justify-content: space-around;
    }
    .id3-1, .id3-2, .id3-3{
        width: 30px;
        height: 20px;
        padding: 10px 0px;
    }
}