body{
    background-color: rgb(178, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{

    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
}

.loading > span{
    justify-content: center;
    width: 10px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: loading 2s  infinite ease-in-out;
}

    .loading span:nth-child(2){
    left:11px;
    animation-delay: .2s;
     
    }
    .loading span:nth-child(3){
    left:22px;
    animation-delay: .4s;
    }
    .loading span:nth-child(4){
    left:33px;
    animation-delay: .6s;
    }
    .loading span:nth-child(5){
    left:44px;
    animation-delay: .8s;
    }
    .loading span:nth-child(6){
        left:55px;
        animation-delay: .9s;
        }
    @keyframes loading {
        0% {height:5px; transform:translateY(0px);background:#9b59b6;}
        25% {height:15px; transform:translateY(-15px);background:#3498db;}
        50% {height:5px; transform:translateY(15px);background:#9b59b6;}
        100% {height:5px; transform:translateY(0px);background:#9b59b6;}
    }