*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background: rgb(81, 224, 200); 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin: 0;
}


.container{
    text-align: center;
    width: 500px;
    animation: movement 3s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse ;
    animation-timing-function: linear;
     ;
  
  }

.pokeball {
  position: absolute; 
  display: inline-block; 
  left: 50%;
  top: 50%;
  animation-name: rotate-pokeball; 
  animation-duration: 3s; 
  animation-iteration-count: infinite;
  animation-direction: alternate; 
  animation-timing-function: linear;
}

.pokeball:hover {
    animation-play-state: paused; 
  }


.pokeball .body {
  position: relative; 
  width: 200px; 
  height: 100px; 
  border: 10px solid black;
}

.pokeball .body.upper {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background: #fa2c1d; 
}

.pokeball .body.lower {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: #fff;
}

.pokeball .line {
  position: absolute; 
  top: 95px; 
  height: 2px; 
  width: 200px; 
  border: 2px solid black; 
  
}

.pokeball .button {
  position: absolute; 
  
}
.pokeball .button.out{
  top: 35%; 
  left: 35%; 
  width: 65px; 
  height: 65px; 
  border: 5px solid black; 
  border-radius: 100%; 
  background: #c5c5c5; 
}

.pokeball .button.in {
  top: 42%; 
  left: 43%; 
  width: 35px; 
  height: 35px; 
  border: 3px solid #bf3035; 
  border-radius: 100%;  
  background: #ca0a10; 
}

.pokeball .button.in:hover {
  background: #c5c5c5; 
  border: 3px solid #595959; 
}
@keyframes rotate-pokeball {
    100% {transform: rotate(360deg);}
}

@keyframes movement {
    0%   { left:190px; right: 0px;}
    100% { left:0px; right: 199px;}
  }